*{
    margin: 0;
    padding: 0;
}

/**********************************/
/* 1. Estilizando o Body 
com uma figura de background
/**********************************/
body{
    background-color: black;
    
}

/**********************************/
/* 2. Ajustando o main
/**********************************/
main{
    width: 95%;
    margin: 20px auto;
    text-align: center;
    color: white;
}

/**********************************/
/* 3. Estilizando o h1
/**********************************/
h1{
    text-shadow: 1px 1px 1px cyan;
    font-size: 54px;
    padding-top: 5px;  
}

/**********************************/
/* 4. Ajustando o container
/**********************************/
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 30px;
    align-items: center;
    width: 100%;
    min-height: 400px;
}

/**********************************/
/* 5. Ajustando o formulario de pesquisa
/**********************************/
.formulario{
    width: 100%;
    margin-bottom: 20px;
}

.btnCadastrar{
    background: #ffa500;
    color: rgb(255, 255, 255);
    align-self: flex-start;
    padding: 8px 45px;
    border-radius: 8px;
    text-shadow: 3px 3px 3px black;
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto;
    cursor: pointer;
}
.btnCadastrar:hover{
    background: #ffb429;
}

/**********************************/
/* 6. Estilizando a div media
/**********************************/
.informacoes{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 15px;
}

#btn-sair{
    background-color: #23232e;
    color: #ffa500;
}


/**********************************/
/* 7. Estilizando os parágrafos
/**********************************/
div p, h4{
    padding:  0 ;
    text-shadow: 1px 1px 1px cyan;
}

#mais-sobre-filmes{
    border: 0;
    color: #ffa500;
    background-color: black;
}

/**********************************/
/* 8. Estilizando o poster
/**********************************/
.mediaImg{
    width: 320px;
    height: 420px;
    border: 3px solid rgb(0, 255, 0);
    margin: 5px 15px;
    transition: 1s;
}
.mediaImg:hover{
    border: 2px dashed rgb(0, 255, 0);
    width: 350px;
    height: 450px;
}

/**********************************/
/* 9. Responsivo
/**********************************/
@media (max-width: 767px){
main {
    width: 100%;
    font-size: 15px;
}

h1{
    font-size: 24px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    padding-top: 10px;
    justify-content: flex-start;
}

  
.mediaImg {
    align-self: center;
    width: 150px;
    height: 250px;
}


p{
    align-self: center;
    width: 100%;
}
    
}

/**********************************/
/* 3. Modal
/**********************************/

 .modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
  
  
   .modal-flex{
    background-color: white;
    padding: 40px;
    border: solid 10px #23232e;
    box-shadow: 0 0 0 10px white;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .fechar-modal{
    position: absolute;
    top: -30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #FFA500;
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  }
  


  .poster-descricao{
      max-width: 250px;
      max-height: 400px;
  }

  .modal-info-filmes{
      max-width: 300px;

  }

  .modal-poster{
      max-width: 250px;
      
  }

  .modal-info{
      margin: 0;
      padding: 0;
  }

  