/**********************************/
/* 1. Estilizando o Body 
com uma figura de background
/**********************************/
body{
  background-color: black;
  
}
 

/**********************************/
/* 2. Ajustando o main
/**********************************/
main{
    width: 95%;
    margin: 20px auto;
    text-align: center;
    color: white;
}

/**********************************/
/* 3. Estilizando o h1
/**********************************/
h1{
    text-shadow: 1px 1px 1px cyan;
    font-size: 54px;
    padding-top: 5px;  
}

/**********************************/
/* 4. Ajusatando o container
/**********************************/
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 30px;
  align-items: center;
  width: 100%;
  min-height: 400px;
}


/**********************************/
/* 5. Estilizando a div media
/**********************************/
.media{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 680px;
  padding-top: 15px;
}


/**********************************/
/* 6. Estilizando os parágrafos
/**********************************/
div p{
    padding: 10px 0 ;
    text-shadow: 1px 1px 1px cyan;
}
/**********************************/
/* 7. Estilizando o poster
/**********************************/
.mediaImg{
  width: 350px;
  height: 450px;
  transition: 0.5s;
}

.mediaImg:hover{
  width: 360px;
  height: 460px;
}

/**********************************/
/* 8. Responsivo
/**********************************/
@media (max-width: 767px){
  main {
    width: 100%;
    font-size: 15px;
  }

  h1{
    text-shadow: 1px 1px 1px cyan;
    font-size: 24px;
  }

  .container{
    display: flex;
    flex-direction: column-reverse;
    align-items:stretch;
    padding-top: 10px;
    justify-content: flex-start;
  }

    
  .media{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: left;
  }

  .mediaImg {
    align-self: center;
    width: 100px;
    height: 180px;
  }
  
  
  p{
    align-self: center;
    width: 100%;
  }
    
}
